<a href="https://colab.research.google.com/github/nanmanay/Python/blob/main/D27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello D27!")

Hello D27!

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
A = [
     [1,1],
     [0,0]
]

In [ ]:
print(A)

[[1, 1], [0, 0]]

In [ ]:
B = A*2

In [ ]:
print(B)

[[1, 1], [0, 0], [1, 1], [0, 0]]

In [ ]:
C = A*3

In [ ]:
print(C)

[[1, 1], [0, 0], [1, 1], [0, 0], [1, 1], [0, 0]]

In [ ]:
D = A*A

TypeError: ignored

In [ ]:
res_list = [A[i][i] * A[i][i] for i in range(len(A))]

In [ ]:
python -v

NameError: ignored

In [ ]:
print(res_list)

[1, 0]

In [ ]:
Python -V

NameError: ignored

In [ ]:
!Python -V

/bin/bash: Python: command not found

In [ ]:
!python -V

Python 3.7.12

In [ ]:
1+1

2

In [ ]:
1+2*3

7

In [ ]:
(1+2)*3

9

In [ ]:
4-40-3

-39

In [ ]:
4-(40-3)

-33

In [ ]:
a=int(input("Enter a"))
if (a==1):
    print("a is one")
else:
    print("a is not one")

Enter a2
a is not one

In [ ]:
gender = input("Enter gender")
morbidity = input("Any other morbidity")
bmi = float(input("Enter the BMI"))

if(gender == "male"):
    if(morbidity == "no"):
        if(bmi>= 19 and bmi<= 25):
            print("Go Home")
        else:
            print("Take consultation")
    else:
        print("Take consultation")
elif(gender == "female"):
    if(morbidity == "no"):
        if(bmi>= 19 and bmi<= 25):
            print("Go Home")
        else:
            print("Take consultation")
    else:
        print("Take consultation")
else:
    print("Invalid data")

Enter genderfemale
Any other morbidityyes
Enter the BMI5
Take consultation

In [ ]:
a = 0
while (a<=10):
    print(a)
    a = a + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = int(input())
exp = 10
while (exp<=10):
    print(a**exp)
    exp = exp + 1

2
1024

In [ ]:
i = 1
while i < 6:
    print(i)
    if i ==3:
        break
    i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
    i+= 1
    if i ==3:
        continue
    print(i)

1
2
4
5
6

In [ ]:
for x in range(7):
    print(x)

0
1
2
3
4
5
6

In [ ]:
for x in range(2,6):
    print(x)

2
3
4
5

In [ ]:
for x in range(-1,-30,-1):
    print(x)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20
-21
-22
-23
-24
-25
-26
-27
-28
-29

In [ ]:
company_name = "D27"
emp_count = 25
salary_month = "January"
salary_year = 2022
per_day_salary = 1000
total_num_of_days = 31
#weekend = "1,2,8,9,15,16,22,23,29,30"
total_salary = 0
i = 1
while i <= 31:
    total_salary += 1000
    print(i,total_salary)
    i = i + 1
    if (i == 1 or i == 2 or i ==8 or i==9 or i==15 or i==16 or i==22 or i==23 or i==29 or i==30):
        continue

print(company_name,salary_year,salary_month,total_salary)

1 1000
2 2000
3 3000
4 4000
5 5000
6 6000
7 7000
8 8000
9 9000
10 10000
11 11000
12 12000
13 13000
14 14000
15 15000
16 16000
17 17000
18 18000
19 19000
20 20000
21 21000
22 22000
23 23000
24 24000
25 25000
26 26000
27 27000
28 28000
29 29000
30 30000
31 31000
D27 2022 January 31000

In [ ]:
a = 5
print(type(a))

<class 'int'>

In [ ]:
a = 1+2j
isinstance(1+2j,complex)

True

In [ ]:
b = 2.0
type(b)

float

In [ ]:
a = [5,10,15,20,25,30,35,40]
a[::-1]

[40, 35, 30, 25, 20, 15, 10, 5]

In [ ]:
a=[1,2,3]
a[2] = 4
print(a)

[1, 2, 4]

In [ ]:
Lst = []
Lst.append(1)
Lst.append(2)
Lst.append(4)
print(Lst)

[1, 2, 4]

In [ ]:
fruit = ['apple','orange']
print(fruit)
Lst.append(fruit)
print(Lst)

['apple', 'orange']
[1, 2, 4, ['apple', 'orange'], ['apple', 'orange'], ['apple', 'orange'], ['apple', 'orange']]

In [ ]:
print(Lst[3][1])

orange

In [ ]:
clothes = ['pants','shirts']
fruit.extend(clothes)
print(fruit)

['apple', 'orange', 'pants', 'shirts', 'pants', 'shirts']

In [ ]:
fruit.append(clothes)
print(fruit)

['apple', 'orange', 'pants', 'shirts', 'pants', 'shirts', ['pants', 'shirts'], ['pants', 'shirts']]

In [ ]:
Listx = list(input())

1

In [ ]:
print(Listx)

[]

In [ ]:
Listx.clear()

In [ ]:
fruit.sort(re)

TypeError: ignored

In [ ]:
print(24%2)

0

**ASSIGNMENT - 03/04/2022**

In [ ]:
phone_book = []

phone_book = [['Nandini', '6195190343', 'nanmanay@gmail.com'],
['Arun', '6174629415', 'arun@gmail.com'],
['Vivaan', '6195190333', 'viv@yahoo.com'],
['Aanav', '6174629455', 'aanav@gmail.com']]
#print(phone_book)

In [ ]:
print(phone_book)

[['Nandini', '6195190343', 'nanmanay@gmail.com'], ['Arun', '6174629415', 'arun@gmail.com'], ['Vivaan', '6195190333', 'viv@yahoo.com'], ['Aanav', '6174629455', 'aanav@gmail.com']]

In [ ]:
4#N = input()
#print(N)


#lst = [input() for i in input()]
#print(lst)

print("Phone Book")
print("Enter 1 to add to the phone book")
print("Enter 2 to delete and entry from the phone book")
print("Enter 3 to display all the entries in the phone book")
print("Enter 4 to find an entry in the phone book based on name")

N = input()
#phone_book = []

#phone_book = [['Nandini', '6195190343', 'nanmanay@gmail.com'],
#['Arun', '6174629415', 'arun@gmail.com'],
#['Vivaan', '6195190333', 'viv@yahoo.com'],
#['Aanav', '6174629455', 'aanav@gmail.com']]
#print(phone_book)

if int(N) == 1:
    print("Entered 1 - Adding to the phone book")
    print("Enter Name, phone, email. Enter 0 to exit")
    while True:
        lst = input().split()
        #print(phone_book)
        if("0" not in lst):
            phone_book.append(lst)
            #print(" ".join(phone_book))
            #print(phone_book)
        else:
            break
elif int(N) == 2:
    print("Entered 2 - Deleting entry from phone book")
    print("Enter name to delete")
    name = input()
    #print(name)
    found = False
    for i in range(len(phone_book)):
        if phone_book[i][0] == name:
            found = True
            phone_book.pop(i)
            break
    print(phone_book)
    if not found:
        print("No entry found")
elif int(N) == 3:
    print("Entered 3 - Display all")
    print("".join("Name Phone Email"))
    for i in range(len(phone_book)):
        print(" ".join(phone_book[i]))
elif int(N) == 4:
        print("Entered 4 - Find an entry in the phone book based on name")
        print("Enter name to lookup")
        name = input()
        found = False
        for i in range(len(phone_book)):
            if phone_book[i][0] == name:
                print(" ".join(phone_book[i]))
                found = True
                break
        if not found:
            print("No entry found")

Phone Book
Enter 1 to add to the phone book
Enter 2 to delete and entry from the phone book
Enter 3 to display all the entries in the phone book
Enter 4 to find an entry in the phone book based on name
1
Entered 1 - Adding to the phone book
Enter Name, phone, email. Enter 0 to exit
Poonam

Sag 53 kjshd
0

In [ ]:
print(phone_book)

[['Nandini', '6195190343', 'nanmanay@gmail.com'], ['Arun', '6174629415', 'arun@gmail.com'], ['Vivaan', '6195190333', 'viv@yahoo.com'], ['Aanav', '6174629455', 'aanav@gmail.com'], ['Poonam'], [], ['Sag', '53', 'kjshd']]

In [ ]:
a = "   Hello Aanav   "

In [ ]:
print(a.strip())

Hello Aanav

In [ ]:
print(a.split())

['Hello', 'Aanav']

In [ ]:
d1 = {1:"apple",2:"ipad"}

In [ ]:
print(d1)

{1: 'apple', 2: 'ipad'}

In [ ]:
d2 = {'name': "Nandini", 2 : [1,2,3]}

In [ ]:
print(d2)

{'name': 'Bala', 2: [1, 2, 3], 'address': '123 husg ln'}

In [ ]:
d2['name'] = 'Bala'

In [ ]:
d2['address'] = '123 husg ln'

In [ ]:
squares = {1:1, 2:4, 3:9 , 4:16, 5:2}

In [ ]:
print(squares)

{1: 1, 3: 9, 5: 2}

In [ ]:
print(squares.pop(4))

KeyError: ignored

In [ ]:
del squares[2]

KeyError: ignored

In [ ]:
def hello():
    print("Hello World!")
    print("guvi")

In [ ]:
def greet(name):
    return ("Hello, " + name + ". Good morning!")

In [ ]:
greet('Nandini')

'Hello, Nandini. Good morning!'

In [ ]:
def calc(x,y,z):
    if z == "add":
        result = x + y
    if z == "subtract":
        result = x - y
    if z == "multiply":
        result = x*y
    if z == "division":
        result = x/y

    return result

In [ ]:
calc(2,3,"division")

0.6666666666666666

In [ ]:
def my_func():
    x = 10
    print(x)

In [ ]:
my_func()

10

In [ ]:
x = 20
my_func()
print(x)

10
20

In [ ]:
x = "guvi"
def foo():
    print(x)

foo()
print(x)

guvi
guvi

In [ ]:
x= "global"

def foo():
    global x
    x = x*2
    print(x)

print(x)
foo()
print(x)

global
globalglobal
globalglobal

In [ ]:
def myfunc(*argv):
    print(*argv)

In [ ]:
myfunc("Hello","Nandini")

Hello Nandini

In [ ]:
def myFun(**kwargs):
    for key,value in kwargs.items():
        print("%s == %s" %(key,value))

In [ ]:
myFun(first = "hello", mid = "goodr", last = 'morning')

NameError: ignored

In [ ]:
x = lambda a:a+10
print(x(5))

15

In [ ]:
x = lambda a,b:a ** b
print(x(5,2))

25

In [ ]:
def myfunc(n):
    return lambda a : a*n

In [ ]:
mydoubler = myfunc(2)

In [ ]:
print(mydoubler(11))

22

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

In [ ]:
def adult(x):
    if x < 18:
        return False
    else:
        return True

In [ ]:
adults = filter(adult, ages)

In [ ]:
for x in adult:
    print(x)

18
24
32

In [ ]:
adult = filter(lambda x:True if(x >=18) else False, ages)

In [ ]:
print(adult)

<filter object at 0x7f4462f615d0>

In [ ]:
seq = [0, 1, 2, 3, 5, 8, 13]

In [ ]:
result = filter(lambda x: x%2 != 0, seq)

In [ ]:
print(list(result))

[]

In [ ]:
result = filter(lambda x:x%2 == 0, seq)

In [ ]:
print(list(result))

[]

In [ ]:
x = map(lambda a:a.upper(), ('cat','elephant','cherry'))

In [ ]:
def myfunc(a, b):
    return a + b

In [ ]:
x = map(lambda a:a.upper(), (1,2,3))

In [ ]:
x = map((lambda a,b:a+b), ('rajni', 'kamal', 'thala'),('kanth', 'hasan', 'thalapathy'))

In [ ]:
print(list(x))

[]

In [ ]:
class person:
    x = "guvi"

In [ ]:
a = person()
print(a.x)

guvi

In [ ]:
class d27:
    def __init__(self,fname,lname):
        self.f1 = fname
        self.s1 = lname

    def mt(self,name):
        print("hello "+ self.f1 + " and " + name)

In [ ]:
a = d27("nandini","manay")
print(a.f1)
print(a.s1)
a.mt("bond")

nandini
manay
hello nandini and bond

In [ ]:
!rmdir nan

rmdir: failed to remove 'nan': No such file or directory

In [ ]:
import os
os.mkdir("datascience")

In [ ]:
os.rename("datascience","ds")

In [ ]:
os.rmdir("ds")

In [ ]:
os.chdir("datascience")

In [ ]:
os.mkdir("guvi")

In [ ]:
os.chdir("guvi")

In [ ]:
os.mkdir("nirmal")

In [ ]:
os.chdir("nirmal")

In [ ]:
file1=open("nirmal.py","x")

In [ ]:
file1=open("guvi.txt","w")

In [ ]:
file1 = open("guvi.txt","a")
file1.write("12335")
file1.close()

In [ ]:
file1=open("nirmal.txt","w")

In [ ]:
text = ["first line \t","second lin \n", "third line"]

In [ ]:
file1.writelines(text)

In [ ]:
file1 = open("nirmal.txt","r")

In [ ]:
print(file1.read())

first line 	second lin
third line

In [ ]:
file1.close()

In [ ]:
def funcs(a,b):
    return a+b

In [ ]:
func = [funcs]

In [ ]:
func[-1](2,3)

5

In [19]:
print("1) Enter 1 to Register a new account\n2) Enter 2 to Login\n3) Enter 3 if you forgot password")
x = int(input("Enter your choice:"))
#print(x)
import re


if x == 1:
    print("Register")
    while True:
        print("Enter email as your username:")
        username = input()

        
        username_regex = re.compile(r"^[A-Za-z0-9_.]+@[A-Za-z]+\.[A-Z|a-z]")
        if username_regex.match(username):
            print("email address is valid")
            break
        else:
            print("Invalid email address")
  
    while True:
        print("Enter password:")
        password = input()
        if (len(password) < 5 or len(password) > 16):
            print("Not a Valid Password")
        elif not re.search("[a-z]", password):
            print("Not a Valid Password")
        elif not re.search("[A-Z]", password):
            print("Not a Valid Password")
        elif not re.search("[0-9]", password):
            print("Not a Valid Password")
        elif not re.search("[_@$&*#%]", password):
            print("Not a Valid Password")
        elif re.search("\s", password):
            print("Not a Valid Password")
        else:
            print("Valid Password")
            break

        with open("accountfile.txt", "a+") as file_object:
            file_object.seek(0)
            data = file_object.read(100)
            if len(data) > 0:
                file_object.write("\n")
                file_object.write(username+ " "+password)

elif x == 2:
    print("Login")
    username = input("Enter your username:")
    password = input("Enter your password:")  
    for line in open("accountfile.txt","r").readlines(): 
        login_info = line.split() 
        found = 1   
        if username == login_info[0] and password == login_info[1]:
            found = 1
            print("Correct credentials!")
            break
        else:
            found = 0
        
    if found == 0:   
        print("Incorrect credentials, please register")
elif x == 3:
    print("Retrieve password")
    username = input("Enter your username:")   

    for line in open("accountfile.txt","r").readlines(): 
        login_info = line.split() 
        found = 1   
        if username == login_info[0]:
            found = 1
            print(login_info[1])
            break
        else:
            found = 0
        
    if found == 0:   
        print("Cannot find the username, please register")
else:
    print("Invalid entry")

1) Enter 1 to Register a new account
2) Enter 2 to Login
3) Enter 3 if you forgot password
Enter your choice:1
Register
Enter email as your username:
email address is valid
Enter password:
yes@yahoo.com
Not a Valid Password
Enter password:
Test123&
Valid Password